<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Web-LoggR</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
    <script src="~/Scripts/knockout-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>

</head>
<body>

    <div class="container well">
        <div class="page-header">
            <h1>Web-LoggR<small> - Real-Time Logging for the Web</small></h1>

        </div>
        <div class="row-fluid">
            <div class="span2">
                @Html.Partial("_nav")
            </div>
            <div class="span10">
                @RenderBody()
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <p>&copy; @DateTime.Now.Year - DegreeDev</p>
            </div>
        </div>
    </div>
</body>
</html>
