@{
    ViewBag.Title = "Account";
}

<h2>My Account</h2>

<div class="row-fluid">
    <div class="span6">
        <div class="well">
            <h3>Account Options</h3>
            <ul class="unstyled">
                <li>
                    <label class="radio">
                        <input type="radio" name="accountOption" value="1" />25 Messages ( Not Persisted ) </label></li>
                <li>
                    <label class="radio">
                        <input type="radio" name="accountOption" value="2" />Unlimited Messages ( Not Persisted ) </label></li>
                <li>
                    <label class="radio">
                        <input type="radio" name="accountOption" value="3" />25 Messages ( Cloud Storage ) </label></li>
                <li>
                   <label class="radio">
                        <input type="radio" name="accountOption" value="4" />Unlimited Messages ( Cloud Storage ) </label></li>
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <h3>Application Plans</h3>
            <ul class="unstyled">
                <li>Plan 1 - 1 Application</li>
                <li>Plan 2 - 2-5 Application</li>
                <li>Plan 3 - 5+ Application</li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <a class="btn btn-primary" href="/Home/AddApplication">Add Application</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Application Name</th>
                    <th>Api Key</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: applications">
                <tr>
                    <td>
                        <span data-bind="text:name"></span>
                    </td>
                    <td>
                        <span data-bind="text:apiKey"></span>
                    </td>
                    <td>
                        <a class="btn input-block-level" data-bind="attr : { href: '/Apps/Edit/' + id() } ">Configure</a>

                    </td>
                    <td>
                        <button class="btn input-block-level btn-danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    function application(n, i, a) {
        var self = this;

        self.name = ko.observable(n);
        self.id = ko.observable(i);
        self.apiKey = ko.observable(a);
    }
    function viewModel() {
        var self = this;

        self.stateCSS = ko.observable();
        self.stateText = ko.observable();

        self.applications = ko.observableArray();

        self.hub = $.connection.greenRHub;

        self.hub.client.addApplication = function (apps) {
            ko.utils.arrayForEach(apps, function (app) {
                self.applications.push(new application(app.Name, app.ID, app.ApiKey));
            });
        };

        $.connection.hub.start().done(function () {

            self.hub.server.joinGroup("@ViewBag.AccountId.ToString()");

        });
        self.hub.connection.stateChanged(function (change) {
            if (change.newState === $.signalR.connectionState.reconnecting) {
                self.stateCSS("btn-warning");
                self.stateText("Reconnecting...");
            }
            else if (change.newState === $.signalR.connectionState.connected) {
                self.stateCSS("btn-success");
                self.stateText("Connected");
            }
            else if (change.newState === $.signalR.connectionState.disconnected) {
                self.stateCSS("btn-inverse");
                self.stateText("Disconnected");
            }
        });
        
    }

    ko.applyBindings(new viewModel());
</script>
